<%- include("header") -%>
<div class="admin shares">
    <form action="/admin" method="POST">
        <h1>
            <button class="" name="link" value="edit">AnyShare Edit</button>
            |
            <button class="" name="link" value="requests">Requests</button>
        </h1>
    </form>
</div>
<%- include("footer") -%>