<%- include("header") -%>
<div class="shares">
    <form class="form-signin" action="/password" method="POST">
        <h3 class="h3 mb-3 font-weight-normal pass-heading">ADMIN PASSWORD</h3>
        <input type="text" id="inputUsername" class="form-control pass-form" placeholder="Username" name="username"
            autocomplete="off">
        <input type="password" id="inputPassword" class="form-control pass-form" placeholder="Password" name="password">
        <button class="btn btn-lg btn-primary btn-block submit-btn" type="submit">Submit</button>
    </form>
</div>

<%- include("footer") -%>