<%- include("header") -%>

<div class="shares">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-12">
                <h2>Share</h2>
                <p>Try to Keep the content clean/kid-friendly, meaningful and be specific or the request will be
                    rejected</p>
            </div>
        </div>
        <% if (document.length<50) { %>
        <form class="share-form" action="/share" method="POST">
            <div class="col-lg-2 col-12 heading">
                <label for="heading">Heading:</label>
            </div>
            <div class="col-12">
                <input type="text" class="form-control heading-text" id="heading" name="heading" autocomplete="off">
            </div>
            <div class="col-lg-2 col-12 info">
                <label for="infoText">Info:</label>
            </div>
            <div class="col-lg-6 col-12">
                <textarea class="form-control info-text" id="infoText" rows="10" name="infoText"></textarea>
                <button type="submit" class="btn btn-primary publish-btn">Request</button>
            </div>
        </form>
        <% } else { %>
        <p>As the site is handled by a single Admin, no more requests are being accepted until previous requests are
            handled</p>
        <% } %>

    </div>
</div>

<%- include("footer") -%>